player-connection-mode=Listen
player-connection-guid=3793917429
player-connection-debug=0
player-connection-project-name=UnityProject
player-connection-ip=172.17.2.74
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e968d992201f483a8d41a64649fa3fb1
